
.mainbg {
    background: #151515;  
    background: -webkit-linear-gradient(to left, #131c25, #131c25);  
    width: 100%;
    height:100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

  }
  
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #daa520;
    bottom: -150px;
    animation: animate 25s linear infinite;
}

@for $i from 1 through 10 {
	.circles li:nth-child(#{$i}){
		$size: #{random(150)}px;
		left: #{random(100)}vw;
		width: $size;
		height: $size;
		animation-delay: #{random(5)+12}s;
		animation-duration: #{random(45)}s;
	}
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}