@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #131c25;
}

#__next {
	width: 100%;
}

#mainwrapper {
	color: #f8f8f8;
	text-align: center;
}

#contentwrapper {
	width: 90%;
	margin: auto;
}

.card-deck {
	height: 100%;
}

.card {
	background-color: #131c25;
	border-width: 5px;
	border-radius: 5px;
	transition: ease 0.3s;
	opacity: 95%;
}

.card:hover {
	border-color: #ffb709;
	color:#ffb709;
}

.card-title {
	font-weight: bold;
}

.card-text p {
	margin: 0;
	font-size: small;
	text-align: left;
}


.card-text a {
	color: #f8f8f8;
}

.card-text a:hover {
	color:#ffb709;
}

.card-text a:visited {
	color:#ffb709;
}


#linksdiv {
	margin: auto;
	text-align: left;
	margin-bottom: 15px;
	opacity: 95%;
}

.list-group-item {
	background-color: #131c25;
	color: #f8f8f8;
	transition:ease 0.3s;
}

.list-group-item:hover {
	background-color: #ffb709;
	color: #131c25;
	transition:ease 0.3s;
}

#btn-voltar {
	border-color: #ffb709;
	border-width: 1px;
}


::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #ffb709;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
	background: #ffb709;
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track{
	background: #131c25;
	border-radius: 0px;
}

