@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #131c25;
}

#__next {
	width: 100%;
}

#mainwrapper {
	color: antiquewhite;
	text-align: center;
}

#contentwrapper {
	width: 90%;
	margin: auto;
}

.card-deck {
	height: 100%;
}

.card {
	background-color: #2f455b;
	border-width: 5px;
	border-radius: 5px;
	transition: ease 0.3s;
}

.card:hover {
	background-color: #283c4f;
	color: goldenrod;
}

.card-title {
	font-weight: bold;
}

.card-text p {
	margin: 0;
	font-size: small;
	text-align: left;
}


.card-text a {
	color: antiquewhite;
}

.card-text a:visited {
	color:brown;
}


::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #daa520;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
	background: #daa520;
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track{
	background: #131c25;
	border-radius: 0px;
}